html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DADADA;
  height: 60px;
}

#logo {
  height: 40px;
  margin-right: 10px;
}

#title {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
}

#video-container {
  position: relative;
  height: calc(100% - 60px);
  overflow: hidden;
}

#video-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  #video-element {
    height: auto;
    width: 100%;
  }
}
