html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DADADA;
  height: 60px;
}

h1.title {
  font-family: 'Teko', sans-serif;
  color: #000000;
}

#logo {
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

#title {
  font-size: 24px;
  font-weight: bold;
}

#video-container {
  position: relative;
  height: calc(100% - 60px);
  overflow: hidden;
}

#video-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

#play-pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: pointer;
}

#play-pause-icon,
#pause-icon {
  width: 50px;
  height: 50px;
}

#pause-icon {
  display: none;
}

#video-container.touch-action-none {
  touch-action: none;
}

.hidden {
  display: none;
}